  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> --- </div>
</div>
<!--end-Footer-part-->
<script src="resource/js/jquery.min.js"></script> 
<script src="resource/js/jquery.ui.custom.js"></script> 
<script src="resource/js/bootstrap.min.js"></script>
<%= js %>
<script src="resource/js/matrix.js"></script>
<%= script %>
</body>
</html>