 <% include ./partials/header %>
 <div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Logs by ip</h5>
            </div>
            <div class="widget-content nopadding">         
                <%- msg %>       
                <form action="" method="get" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Server ip :</label>
                        <div class="controls">
                            <input type="text" name="ip" class="span11" placeholder="First name" />                           
                        </div>
                    </div>
                    <div class="form-actions">
                    <button type="submit" class="btn btn-success pull-right">Show</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>