<% include ./partials/header %>
<%- msg %>
<div class="row-fluid">
<div class="span6">
<div class="widget-box">
    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
        <h5>Change password</h5>
    </div>
    <div class="widget-content nopadding">        
        <form action="" method="post" class="form-horizontal">            
            <div class="control-group">
                <label class="control-label">Old Password :</label>
                <div class="controls">
                    <input type="hidden" name="action" value="user" />
                    <input type="password"  name="old-pass" class="span11" placeholder="Enter Old Password"  />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type new Password :</label>
                <div class="controls">
                    <input type="password"  name="new-pass1" class="span11" placeholder="Enter new Password"  />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Again new Password :</label>
                <div class="controls">
                    <input type="password"  name="new-pass2" class="span11" placeholder="Retype new Password"  />
                </div>
            </div>
            <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
        </form>
    </div>
</div>
</div><div class="span6">
<div class="widget-box">
    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
        <h5>Server scan config</h5>
    </div>
    <div class="widget-content nopadding">        
        <form action="" method="post" class="form-horizontal">            
            <div class="control-group">
                <label class="control-label">SSH timeout (sec):</label>
                <div class="controls">
                    <input type="hidden" name="action" value="server" />
                    <input type="text" name="ssh" class="span11" placeholder="SSH timeout" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">RDP timeout (sec):</label>
                <div class="controls">
                    <input type="text" name="rdp" class="span11" placeholder="RDP timeout" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Check servers (sec):</label>
                <div class="controls">
                    <input type="text" name="check" class="span11" placeholder="Check server every seconds" />
                </div>
            </div>
            <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
        </form>
    </div>
</div>
</div></div>

<% include ./partials/footer %>
