<% include ./partials/header %>

<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>User-delete</h5>
            </div>
            <div class="widget-content nopadding">                
                <form action="" method="get" class="form-horizontal">
                    <div class="control-group">
                        <h4>
                        &nbsp;&nbsp;&nbsp;<%= text %>
                        </h4>
                        <input type="hidden" name="id" value="<%= id %>" />
                        <input type="hidden" name="todo" value="delete" />                      
                    </div>
                    <div class="form-actions">
                    <a href="user-show" class="btn btn-info pull-left">Back</a>   
                    <button type="submit" name="submit" class="btn btn-success pull-right">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>