body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #eeeeee;
}

iron-pages {
    display: block;    
    padding: 10px 20px;
}

iron-pages h1 {
    font-size: 18px;
}

.card {
    margin: 24px;
    padding: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.item {        
    max-width:640px;        
}

.item::after {
    content: '';
    display: block;
    clear: both;
}

.msg {
    display: none;
}      

#appUrlPath {
    margin-left: 10px;
}